<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <script src="./lib/angular/angular.min.js"></script>
        <script src="main.js"></script>         
    </head>
    <body> Hello Guys </body>
		<div ng-init="myText='Hello World!'" >
			<h1>{{myText}}</h1> 
		</div>
		<div ng-app="app" >
			Name: <input ng-model="name">
			<h1>You entered: {{name}}</h1>
		</div>
		<div ng-init="friends = 
			[{name:'John', phone:'555-1276'},
			{name:'Mary', phone:'800-BIG-MARY'},
			{name:'Mike', phone:'555-4321'},
			{name:'Adam', phone:'555-5678'},
			{name:'Julie', phone:'555-8765'},
			{name:'Juliette', phone:'555-5678'}]">
		</div>

		<label>Search: <input ng-model="searchText"></label>
		<table>
		<tr><th>Name</th><th>Phone</th></tr>
		<tr ng-repeat="friend in friends | filter:searchText">
		<td>{{friend.name}}</td>
		<td>{{friend.phone}}</td>
		</tr>
		</table>
		
		<div ng-controller="SettingsController1 as settings">
			<input type="text" ng-model="fname">
			<input type="button" ng-click="settings.addName(fname)" />
			<ul >
				<li ng-repeat ="name in settings.names | filter:searchList | orderBy track by $index">{{name}}</li>
			</ul>              
		</div>
	</body> 
</html>
